/*Add comments !!!! while editing */

* {
box-sizing: border-box;
}

body {
background-color: #165674;
}

#regForm {
background-color: #ffffff;
margin: 100px auto;
font-family: Raleway;
padding: 40px;
width: 70%;
min-width: 300px;
}

h1 {
text-align: center;  
}

input {
padding: 10px;
width: 100%;
font-size: 17px;
font-family: Raleway;
border: 1px solid #888888;
}

input.invalid {
background-color: #ffdddd;
}

.tab {
display: none;
}

button {
background-color: #4625bd;
color: #ffffff;
border: none;
padding: 10px 20px;
font-size: 17px;
font-family: Raleway;
cursor: pointer;
}

button:hover {
opacity: 0.8;
}

#prevBtn {
background-color: #179288;
}


.step {
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #666161;
border: none;  
border-radius: 50%;
display: inline-block;
opacity: 0.5;
}

.step.active {
opacity: 1;
}

.step.finish {
background-color: #5f0505;
}

/* CONTACT FORM  */

        .contact-form{
            text-align: center;
            box-sizing: border-box;
            margin-right: 40px;
            margin-top: 60px;
        }
        .icon{
            margin-right: 0px;
        }
        .form-input{
            font-size: large;
            margin: 20px;
            width: 80%;
            border-top: none;
            border-left: none;
            border-right: none;
            background-color: whitesmoke;
        }
        .form-input:focus{
            border-bottom: 2px solid blue;
        }

        #budget{
            font-size: large;
            margin: 5px;
            width: 83%;
            border-top: none;
            border-left: none;
            border-right: none;
            background-color: whitesmoke;
        }
        #continue{
            cursor: pointer;
            padding: 7px;
            border: none;
            margin-left: 10px;
            background-color: cornflowerblue;
            justify-content: space-between;
        }
        #previous{
            cursor: pointer;
            padding: 7px;
            margin-left: 10px;
            margin-right: 10px;
            border: none;
            background-color: cornflowerblue;
            justify-content: space-between;
        }


